@import 'variables';

.nav {
  &List {
    display: flex;

    @media screen and (max-width: $bp-lg) {
      flex-direction: column;
    }
  }

  &Item {
    margin: 0 30px;

    @media screen and (max-width: $bp-xl) {
      margin: 0 10px;
    }

    @media screen and (max-width: $bp-lg) {
      border-bottom: 1px solid #1d2228;

      &:last-child {
        border: none;
      }
    }
  }

  &Link {
    color: #000;
    font-size: 18px;
    font-family: $font-alegreya;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: $transition;

    &:hover {
      color: #e52d2d;
    }

    @media screen and (max-width: $bp-xl) {
      font-size: 16px;
    }

    @media screen and (max-width: $bp-lg) {
      display: block;
      padding: 24px 0;
      color: #fff;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
    }
  }

  @media screen and (max-width: $bp-lg) {
    // display: none;

    display: flex;
    flex-direction: column;
    position: fixed;
    right: -320px;
    top: 0;
    width: 320px;
    height: 100%;
    padding: 120px 60px 40px;
    background: #313945;
    transition: $transition;
    z-index: 9;

    &.menuToggle {
      right: 0px;
    }
  }
}