@import 'variables';
@import 'mixins';

.cover {
  display: flex;
  align-items: center;
  margin-bottom: 94px;
  
  @media screen and (max-width: $bp-lg) {
    margin-bottom: 62px;
  }

  @media screen and (max-width: $bp-md) {
    flex-direction: column;
    margin-top: 60px;
  }

  @media screen and (max-width: $bp-sm) {
    margin-top: 40px;
    margin-bottom: 60px;
  }

  &Left {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $bp-md) {
      order: 2;
      margin-top: 80px;
      align-items: center;
    }

    @media screen and (max-width: $bp-md) {
      margin-top: 50px;
    }

    &Title {
      @include h1-desktop;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin-bottom: 12px;

      @media screen and (max-width: $bp-xl) {
        font-size: 60px;
      }

      @media screen and (max-width: $bp-lg) {
        @include h1-tablet;
      }

      @media screen and (max-width: $bp-sm) {
        @include h1-mobile;
        margin-bottom: 8px;
      }
    }

    &Text {
      @include accent-desktop;
      margin-bottom: 32px;
      max-width: 450px;
      text-align: left;

      @media screen and (max-width: $bp-xl) {
        font-size: 22px;
        max-width: 410px;
      }

      @media screen and (max-width: $bp-lg) {
        @include accent-tablet;
        max-width: 340px;
      }

      @media screen and (max-width: $bp-md) {
        text-align: center;
      }

      @media screen and (max-width: $bp-sm) {
        @include accent-mobile;
        max-width: 300px;
        margin-bottom: 16px;
      }
    }

    &Btn {
      width: 304px;
      height: 60px;
      border-radius: 5px;
      background: #E52D2D;
      cursor: pointer;
      border: none;
      transition: $transition;
      outline: none;

      color: #FFF;
      font-size: 18px;
      font-family: $font-alegreya;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      letter-spacing: 1px;
      text-transform: uppercase;

      @media screen and (max-width: $bp-sm) {
        width: 288px;
      }

      &:hover {
        background: #FF3C3C;
      }

      &:active {
        background: #BF221E;
      }

      &:focus-visible {
        border: 3px solid #8FC9FF;
        background: #E52D2D;
        transition: none;
      }


    }
  }

  &Right {
    position: relative;
    width: 100%;
    max-width: 630px;
    padding-top: 45%;

    @media screen and (max-width: $bp-lg) {
      width: 90%;
    }

    @media screen and (max-width: $bp-md) {
      padding-top: 55%;
      width: 100%;
      max-width: 708px;
    }

    &Bg {
      position: absolute;
      top: 27px;
      left: -12px;
      height: 88.078%;
      width: auto;

      @media screen and (max-width: $bp-lg) {
        top: 60px;
        left: 0px;
        height: 74.65%;
      }

      @media screen and (max-width: $bp-md) {
        top: 0px;
        left: 12px;
        height: 103.45%;
      }
    }

    &Leaves {
      position: absolute;
      bottom: -31px;
      left: -12%;
      width: 50%;
      height: auto;

      @media screen and (max-width: $bp-lg) {
        bottom: -9px;
        left: -9%;
        width: 40%;
      }

      @media screen and (max-width: $bp-md) {
        // bottom: -80px;
        bottom: -20%;
        left: -6%;
        width: 40%;
      }

      @media screen and (max-width: $bp-sm) {
        bottom: -18%;
        left: -3%;
        width: 35%;
      }
    }

    &Pizza {
      position: absolute;
      top: -10%;
      left: 0px;
      width: 120%;
      height: auto;

      @media screen and (max-width: $bp-lg) {
        top: 5%;
        left: 0px;
        width: 100%;
      }

      @media screen and (max-width: $bp-md) {
        top: -15%;
        left: 42px;
        width: 75%;
      }

      @media screen and (max-width: $bp-sm) {
        top: -16%;
        left: 20px;
        width: 78%;
      }

    }
  }
}