@import 'variables';
@import 'mixins';

.cover {
  display: flex;
  align-items: center;
  margin-bottom: 94px;

  &Left {
    width: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;

    &Title {
      @include h1-desktop;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin-bottom: 12px;
    }

    &Text {
      @include accent-desktop;
      margin-bottom: 32px;
    }

    &Btn {
      width: 304px;
      height: 60px;
      border-radius: 5px;
      background: #E52D2D;
      cursor: pointer;
      border: none;
      transition: $transition;
      outline: none;

      color: #FFF;
      font-size: 18px;
      font-family: $font-alegreya;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      letter-spacing: 1px;
      text-transform: uppercase;

      &:hover {
        background: #FF3C3C;
      }

      &:active {
        background: #BF221E;
      }

      &:focus-visible {
        border: 3px solid #8FC9FF;
        background: #E52D2D;
        transition: none;
      }

    }
  }

  &Right {
    position: relative;
    width: 100%;
    // height: 0;
    max-width: 630px;
    // margin-left: auto;
    padding-top: 45%;

    // &>img {
    //   position: absolute;
    //   left: -35px;
    //   top: 37px;
    //   // width: 100%;
    //   // height: 85%;
    // }

    &Bg {
      position: absolute;
      top: 40px;
      left: -10px;
      // width: 100%;
      // height: 85%;
      // height: 85%;
    }

    &Leaves {
      position: absolute;
      top: 320px;
      left: -101px;
    }

    &Pizza {
      position: absolute;
      // top: -47px;
      // left: -36px;
      left: -4%;
      top: 50%;
      width: 121%;
      height: auto;
      transform: translateY(-50%);

    }
  }
}


// .banner {
//   margin-bottom: 100px;
//   height: 0;
//   padding-top: 45.1%;
//   position: relative;

//   @media screen and (max-width: 1332px) {
//     margin-bottom: 60px;
//   }

//   @media screen and (max-width: 768px) {
//     height: auto;
//     padding-top: 0;
//   }

//   &__wrapContent {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     left: 0;
//     top: 0;
//     position: absolute;
//     width: 100%;
//     height: 100%;


//     @media screen and (max-width: 768px) {
//       flex-direction: column;
//       position: relative;
//       height: auto;
//     }
//   }

//   &__leftSide {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     width: 100%;
//     margin-right: 5%;


//     @media screen and (max-width: 768px) {
//       order: 2;
//       margin-right: 0;
//     }
//   }

//   &__title {
//     margin-bottom: 12px;
//     text-align: left;


//     @media screen and (max-width: 1332px) {
//       font-size: 40px;
//       line-height: 1.25;
//     }

//     @media screen and (max-width: 768px) {
//       margin-bottom: 8px;
//     }
//   }

//   &__text {
//     margin-bottom: 32px;
//     max-width: 441px;

//     @media screen and (max-width: 1332px) {
//       &.bigText {
//         font-size: 18px;
//         line-height: 27px;
//         max-width: 369px;
//         margin-bottom: 24px;
//       }
//     }

//     @media screen and (max-width: 768px) {
//       &.bigText {
//         font-size: 16px;
//         line-height: 24px;
//         max-width: 100%;
//         margin-bottom: 16px;
//       }
//     }
//   }

//   &__anchor {
//     position: relative;
//     max-width: 304px;
//     width: 100%;
//     padding: 18px 0;
//     text-align: center;
//     z-index: 1;
//     cursor: pointer;
//     color: #fff;
//     font-family: "Alegreya", sans-serif;
//     font-size: 18px;
//     font-weight: 900;
//     letter-spacing: 1px;
//     line-height: normal;
//     text-transform: uppercase;
//     outline: transparent;


//     @media screen and (max-width: 768px) {
//       height: 52px;
//       padding: 14px 0;
//     }

//     &:before {
//       content: '';
//       position: absolute;
//       left: 0;
//       top: 0;
//       width: 100%;
//       height: 100%;
//       background: #e52d2d;
//       border-radius: 5px;
//       z-index: -1;
//     }

//     &:after {
//       content: '';
//       position: absolute;
//       left: 0;
//       top: 50%;
//       transform: translateY(-50%);
//       width: 100%;
//       height: 0;
//       background: #ff3c3c;
//       border-radius: 5px;
//       transition: 0.2s ease-in-out;
//       z-index: -1;
//     }

//     &:hover:after {
//       height: 100%;
//     }
//   }


//   &__rightSide {
//     position: relative;
//     width: 100%;
//     height: 0;
//     padding-top: 45.8%;
//     max-width: 630px;
//     margin-left: auto;


//     @media screen and (max-width: 768px) {
//       order: 1;
//       padding-top: 59.5%;
//       margin-bottom: 29px;
//     }
//   }

//   &__imgPizza {
//     position: absolute;
//     left: -4%;
//     top: 50%;
//     width: 121%;
//     height: auto;
//     transform: translateY(-50%);


//     @media screen and (max-width: 768px) {
//       position: absolute;
//       left: -1%;
//       top: 50%;
//       width: 93%;
//       height: auto;
//       transform: translateY(-50%);
//     }
//   }

//   &__imgLeaves {
//     position: absolute;
//     left: -15.2%;
//     bottom: 10px;
//     width: 48%;
//     height: auto;


//     @media screen and (max-width: 768px) {
//       position: absolute;
//       left: -7.2%;
//       bottom: -7%;
//       width: 34%;
//       height: auto;
//     }
//   }

//   &__imgBg {
//     position: absolute;
//     left: -35px;
//     top: 37px;
//     height: 85%;
//     z-index: -1;


//     @media screen and (max-width: 768px) {
//       left: auto;
//       right: -20px;
//       top: 0;
//       height: 100%;
//     }
//   }
// }