@import 'variables';
@import 'mixins';


.delivery {
  background: #F8F6F3;
  padding: 72px 0 80px;

  @media screen and (max-width: $bp-lg) {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  @media screen and (max-width: $bp-md) {
    padding-top: 24px;
    padding-bottom: 40px;
  }

  &Title {
    @include h2-desktop;
    text-align: center;
    margin-bottom: 26px;
    
    @media screen and (max-width: $bp-lg) {
      font-size: 40px;
      line-height: 60px;
      margin-bottom: 20px;
    }
    
    @media screen and (max-width: $bp-md) {
      font-size: 28px;
      line-height: 35px;
      margin-bottom: 12px;
    }
  }

  &Grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    
    @media screen and (max-width: $bp-md) {
      grid-template-columns: 1fr;
      row-gap: 12px;
    }

    &Block {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      padding: 32px 24px;
      border-radius: 5px;
      background: #FFF;
      box-shadow: 0px 2px 5px 0px rgba(199, 193, 168, 0.30);

      @media screen and (max-width: $bp-lg) {
        flex-direction: column;
        align-items: flex-start;
        padding: 25px 20px;
      }
      
      @media screen and (max-width: $bp-md) {
        flex-direction: row;
      }

      &Icon {
        width: 80px;
        height: 80px;
        position: relative;
        margin-right: 24px;
        flex-shrink: 0;

        @media screen and (max-width: $bp-lg) {
          width: 56px;
          height: 54px;
          margin-top: 0px;
          margin-bottom: 12px;
        }
        
        @media screen and (max-width: $bp-md) {
          width: 48px;
          height: 48px;
          margin-right: 14px;
          margin-bottom: 0;
          margin-top: 7px;
        }
      }

      &Title {
        @include h4-desktop;
        margin-bottom: 6px;
        
        @media screen and (max-width: $bp-lg) {
          font-size: 20px;
        }
        
        @media screen and (max-width: $bp-md) {
          font-size: 18px;
        }
      }

      &Text {
        @include desc-desktop;
        color: #000;
      }
    }
  }
}