@import 'variables';


@mixin h1-desktop {
  color: #000;
  font-size: 72px;
  font-family: $font-alegreya;
  font-style: normal;
  font-weight: 900;
  line-height: 90px;
  letter-spacing: 1px;
}

@mixin h1-tablet {
  font-size: 52px;
  line-height: 65px;
}

@mixin h1-mobile {
  font-size: 40px;
  line-height: 50px;
}

@mixin h4-desktop {
  color: #000;
  font-size: 24px;
  font-family: $font-alegreya;
  font-style: normal;
  font-weight: 800;
  line-height: 30px;
}

// ============================================================================

@mixin h3-mobile {
  color: #000;
  font-size: 20px;
  font-family: $font-alegreya;
  font-style: normal;
  font-weight: 800;
  line-height: 25px;
}

// ============================================================================

@mixin accent-desktop {
  color: #000;
  font-size: 24px;
  font-family: $font-roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

@mixin accent-tablet {
  font-size: 18px;
  line-height: 27px;
}

@mixin accent-mobile {
  font-size: 16px;
  line-height: 24px;
}

// ============================================================================


@mixin desc-desktop {
  color: #848A9A;
  font-size: 12px;
  font-family: $font-roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}