// Fonts
$font-alegreya: var(--font-alegreya);
$font-roboto: var(--font-roboto);

// Breakpoints
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;
$bp-big: 1600px;

$transition: 0.2s ease-in-out;